.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: #A2A7A5;
    border-radius: 2em;
    padding-top: 12px;
    width: 750px;
    box-shadow: 0 1px 2px #A2A7A5;
}

.search-bar-container::after {
    box-shadow: 0 5px 15px #4c4e4d;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.search-bar-container:hover::after {
    opacity: 1;
}

.search-bar-container:hover {
    transform: scale(1.1, 1.1);
}

.search-bar-form svg {
    font-size: 35px;
}


.search-bar-form label {
    margin-top: 7px;
    margin-left: 10px;
}

.search-bar-form {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.guest-input {
    height: 35px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.city-input {
    height: 35px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;

    
}

.city-input .form-control {
    background-color: transparent;
    outline: none;
    outline-style: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    border-bottom: solid #3a3838 2px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.guest-input .form-control {
    background-color: transparent;
    outline: none;
    outline-style: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    border-bottom: solid #3a3838 2px;
    text-align: center;
}

.btn {
    height: calc(1.5em + .75rem + 2px);
    margin: 0px 10px;
}