.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 30px;

    background-color: #E2DADB;
    border-radius: 2em;
    padding-top: 12px;
    width: 800px;
}

.search-bar-form svg {
    font-size: 35px;
    color: #A2A7A5;
}

.search-bar-form svg:hover {
    font-size: 35px;
    color: #6D696A;
}

.search-bar-form {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.guest-input {
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.city-input {
    height: 35px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.btn {
    height: calc(1.5em + .75rem + 2px);
    margin: 0px 10px;
}