/* .spot-create-body {
  border: solid orangered;
} */

.spot-create-container {
  background-color: #dae2df;
  /* border: solid #e2dadb; */
  border-radius: 5px;
}

.spot-create-input {
  background-color: #ffffff;
}

.spot-create-header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.spot-create-zipcode::-webkit-inner-spin-button,
.spot-create-zipcode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
