#welcome-image {
    height: 500px;
    position: relative;
    z-index: 0;
    object-fit: contain;
}

.home-body {
    display: flex;
    flex-direction: column;
}

 .home-search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    position: relative;
    z-index: 1;
}

.welcome-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url('https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Fnxq8pmpbs8dwmpeg75kk15z4f1i215&option=N&idlisting=listingmedia&w=1600&permitphotoenlargement=false&fallbackimageurl=https%3A%2F%2Fstatic-sir-pacific-production-4.gtsstatic.net%2Fresources%2F_responsive%2Fimages%2Fcommon%2Fnophoto%2Flisting.jpg');
    background-size: fill;
    background-position-y: -140px;
    background-repeat: no-repeat;
}

.newest-spots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    height: 350px;
}

.mission-container {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: lightgray;
    height: 200px;
}

.mission-statement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
}

.amount-sheltered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-maps-container {
    height: 500px;
    background-color: lightslategrey;
}