.welcome-image {
    object-fit: cover;
    height: 500px;
    width: 100%;
    /* filter: blur(1px); */
}

.home-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 15px;
    z-index: 1030;
    background: 0;
    /* width: 80%; */
}

@media screen and (max-width: 1250px) {
    .home-search {
        position: fixed;
        z-index: 1000;
        top: 90px;
        width: 100%;
    }

    .search-bar-container {
        width: 100%;
        border-radius: 0;
        background-color: #E2DADB;
    }
}

#namaste {
    height: 100px;
}

#carouselitem {
    height: 300px;
    text-align: center;
    padding-top: 40px;
}


.carousel-caption p, .carousel-control-prev, .carousel-control-next {
    color: #A2A7A5
}

.picture-color {
    position: relative;
    top: -80px;
    width: 100%;
    height: 80px;
    background-color: #E2DADB;
}

#mission-statement {
    font-size: 35px;
    font-family: 'Josefin Sans';
}

.spot-view-large-body {
    background-color: lightgray;
    transition: box-shadow .3s;
    height: 550px;
    min-width: 400px;
    width: 400px;
    margin: 20px 20px;
    padding: 20px;
    border-radius: 0.5em;
}

.spot-view-large-body:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.26); 
}

.home-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -33px;
}

.home-search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}

.welcome-search-container {
    height: 500px;
    width: 100%;
    position: relative;
    z-index: -1;
    top: -30px;
}

.newest-spots-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 50px 20px;
}

.newest-spots-container .spotcard {
    background-color: #DAE2DF;
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0 1px 5px #A2A7A5;
    transition: all .2s ease-in-out;
}


.mission-container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 300px;
    width: 100%;
}

.mission-statement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.amount-sheltered-container {
    /* background-color: #DAE2DF; */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.google-maps-container {
    height: 500px;
    width: 100%;
    background-color: lightslategrey;
}