/* TODO Add site wide styles */
.btn:hover {
    background-color: #6D696A;
}

.logo {
  width: 100px;
  height: auto;

}

h1, h2 {
  font-family: 'Josefin Sans';
}

h3, h4, h5 {
  font-family: 'Marcellus';
}

a, p, button, .btn, .card-title, label {
  font-family: 'Martel Sans';
}


.dropdown-menu.show {
  position: absolute;
  width: 350px;
  left: -285px;
}